<div class="fixed-top bg-white shadow">
    <header class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills">
        <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Login</a></li>
        <li class="nav-item"><a href="#" class="nav-link">PToS</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Form16B</a></li>
        <li class="nav-item"><a href="#" class="nav-link">ResetP</a></li>
      </ul>
    </header>
  </div>