<div class="fixed-top bg-white shadow">
    <header class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills">
        <li class="nav-item"><a href="#" class="nav-link active" aria-current="page" routerLink="/">Home</a></li>
        <!-- <li class="nav-item"><a href="#" class="nav-link" routerLink="login">Login</a></li> -->
        <li class="nav-item"><a href="#" class="nav-link" routerLink="/payments-to-seller">PToS</a></li>
        <li class="nav-item"><a href="#" class="nav-link" routerLink="/tds-compliance">TDS</a></li>
        <li class="nav-item"><a href="#" class="nav-link" routerLink="/form-16B">Form-16B</a></li>
      </ul>
    </header>
  </div>

